@page "/Profile/Records"
@model RecordsModel
@{
    ViewData["Title"] = "Dental Records";
}

<section>

</section>

  <script src="~/js/site.js"></script>
<script src="~/js/PatientSide/records.js"></script>